<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css">
    <style>
        .my-title {
            font-size: 2rem;
            font-weight: bold;
            color: #fff;
        }

        .my-header {
            background-color: #1b282c;
            color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 999;
        }
        
    </style>
</head>

<body>
    <header class=" rounded my-header p-6">
        <div class="container mx-auto">
            <h1 class="my-title">Learning Management System    by       Rishav_gupta</h1>
            
        </div>
    </header>
</body>

</html>